
@{
    ViewBag.Title = "DeviceSwitchUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>設備資料上傳</h2>
<form method="post" action="@Url.Action("DeviceSwitchUpload")" enctype="multipart/form-data" name="send">
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span>
    <input type="file" name="file" />
    <br />
    <input type="submit" value="Import" />
</form>
<script src="~/Scripts/import.js"></script>



