
@{
    ViewBag.Title = "DOORUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>新增門禁上傳</h2>
<form method="post" action="@Url.Action("DOORUpload")" enctype="multipart/form-data" name="send">
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span>
    <input type="file" name="file" />
    <br />
    <input type="submit" value="Import" />
</form>




