
@{
    ViewBag.Title = "EditPassword";
}
<h2>EditPassword</h2>
</br>
<form method="post" action="@Url.Action("EditPassword")">
    <div class="form-horizontal">
        <hr />
        @*<div class="form-group">
                <font size="5"><span class="control-label col-md-2">原密碼</span></font>
                <div class="col-md-10">
                    <input type="text" id="Password" name="Password" class="form-control" required />
                </div>
            </div>*@
        <div class="form-group">
            <font size="5"><span class="control-label col-md-2">新密碼</span></font>
            <div class="col-md-10">
                <input type="text" id="UserPassWord" name="UserPassWord" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="修改" class="btn-primary">
    </div>
</form>
<div>
    @Html.ActionLink("返回顯示列表", "Index")
</div>




