<br />
<h2>新增設備</h2>
@using FactoryData.Controllers
@using System.Data
@{
    HomeController ho = new HomeController();
    string Selectstr = "Select *from Fab";
    DataTable dt = ho.da(Selectstr);
}
<form method="post" action="@Url.Action("Insert")">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <font size="5"><span class="control-label col-md-2">廠區</span></font>
                <div class="col-md-10">
                    <select class="form-control" name="Fab" id="Fab">
                        @foreach (DataRow row in Model.Rows)
                        {
                            <option value="@row["FabName"]">@row["FabName"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">Switch名稱</span></font>
                <div class="col-md-10">
                    <input type="text" id="SwitchName" name="SwitchName" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">SwitchIP</span></font>
                <div class="col-md-10">
                    <input type="text" id="SwitchIP" name="SwitchIP" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">SwitchMAC</span></font>
                <div class="col-md-10">
                    <input type="text" id="SwitchMAC" name="SwitchMAC" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">Switch Port</span></font>
                <div class="col-md-10">
                    <input type="text" id="SwitchPort" name="SwitchPort" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">裝置名稱</span></font>
                <div class="col-md-10">
                    <input type="text" id="DeviceName" name="DeviceName" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">類型</span></font>
                <div class="col-md-10">
                    <input type="text" id="DeviceType" name="DeviceType" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">新增時間</span></font>
                <div class="col-md-10">
                    <input type="text" id="AddDatetime" name="AddDatetime" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">備註</span></font>
                <div class="col-md-10">
                    <input type="text" id="Remarks" name="Remarks" class="form-control" />
                    <br />
                    <input type="submit" value="新增" class="btn btn-primary" />
                    <a href="/Home/DeviceSwitchPortDisplay" class="btn btn-info">返回F15B廠區設備裝置SWITCH阜位</a>
                </div>
            </div>
        </div>
</form>