<br />
<h2>新增CCTV資訊</h2>
@using System.Data;
<title>@Model using System.Data.DataTable</title>
<form method="post" action="@Url.Action("InsertCCTV")">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <font size="5"><span class="control-label col-md-2">廠區</span></font>
            <div class="col-md-10">
                <select class="form-control" name="Fab" id="Fab">
                    @foreach (DataRow row in Model.Rows)
                    {
                        <option value="@row["FabName"]">@row["FabName"]</option>
                    }
                </select>
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">CCTV編號</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVNumber" name="CCTVNumber" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">CCTV描述</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVName" name="CCTVName" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">IP位址</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVIP" name="CCTVIP" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">MAC位址</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVMAC" name="CCTVMAC" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">品牌</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVBrand" name="CCTVBrand" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">型號</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVModel" name="CCTVModel" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">類型</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVType" name="CCTVType" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">Switch IP</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVSwitchIp" name="CCTVSwitchIp" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">Switch Port位</span></font>
                <div class="col-md-10">
                    <input type="text" id="CCTVSwitchPort" name="CCTVSwitchPort" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">新增廠商</span></font>
                <div class="col-md-10">
                    <input type="text" id="AddVendor" name="AddVendor" class="form-control" value="@Session["Remarks"]" readonly />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">新增時間</span></font>
                <div class="col-md-10">
                    <input type="date" id="AddDatetime" name="AddDatetime" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <font size="5"><span class="control-label col-md-2">備註</span></font>
                <div class="col-md-10">
                    <input type="text" id="Remarks" name="Remarks" class="form-control" />
                    <br />
                    <input type="submit" value="新增" class="btn btn-primary" />
                    <a href="/Home/CCTV" class="btn btn-info">返回CCTV新增資訊</a>
                </div>
            </div>
        </div>
</form>
